SERVER_PORT_HTTP1=3000
SERVER_PORT_HTTPS=8443
SERVER_PORT_HTTP2=8444
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/
DB_NAME=poner_nombre_de_la_base_de_datos_aqui
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:3000/
SECRET=poner_secret_key_aqui